<div class="list-wraper">
  <mat-list>
    <mat-list-item 
      *ngFor="let hotel of hotels$ | async | filter: searchHotel;"
      [routerLink]="['detail', hotel.id]"
    >
      <!-- (click)="selectHotel(hotel)" -->


      <p matLine>{{hotel.stars}}</p><!-- TODO: Change number to star -->
      <img *ngFor='let photo of hotel.photos' matListAvatar [src]="photo" alt="...">
      <h3 matLine>Title: {{hotel.title}}</h3>
      <p matLine>{{hotel.title}}</p>
      <p matLine>{{hotel.address}}</p>
      <h6 matLine>tel:{{hotel.phone}}</h6>
      
      
      <button 
        mat-icon-button color="primary" 
        aria-label="Add to favorite"
        (click)="addFavorite(hotel); $event.stopPropagation()">
          <mat-icon>favorite</mat-icon>
      </button>
      <button 
        mat-icon-button color="primary" 
        aria-label="Edit hotel"
        (click)="editHotel(hotel); $event.stopPropagation()">
          <mat-icon>edit</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <mat-paginator 
        [length]="10" 
        [pageSize]="2" 
        [pageSizeOptions]="[1, 2, 4, 10]"
        (page)="changeHotel($event)">
      </mat-paginator>
</div>