<!-- <div class="container"> -->
  <!-- TODO: if isLoading hide Layout  -->
  <p *ngIf='isLoading'>Loading...</p>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutWrap fxLayoutGap="10px"> 
    <div fxFlex="70%">

      <router-outlet></router-outlet>

      <!-- <mat-card class="hotels-card">
        
        

        <mat-card-content>
          Hotels
          <app-list 
            [hotels$]="hotels$" 
            [currentHotel]="currentHotel" 
            (hotel)="setHotel($event)"
            (onHotelChange)='changeHotel($event)' 
            [searchHotel]="searchHotel"
            >
          </app-list>
        </mat-card-content>
      </mat-card> -->
      <!-- <mat-paginator 
        [length]="10" 
        [pageSize]="2" 
        [pageSizeOptions]="[1, 2, 4, 10]"
        (page)="changeHotel($event)">
      </mat-paginator> -->
    </div>
    <div fxFlex>
      <app-favorite></app-favorite>
    </div>
  </div>
<!-- </div> -->